<h2 mat-dialog-title>Habilidades</h2>
<mat-dialog-content>
  <p>Estas son algunas de mis principales habilidades:</p>
  <ul>
    <li><strong>Frontend:</strong> Angular, HTML, CSS, JavaScript, TypeScript.</li>
    <li><strong>Backend:</strong> C#, .NET, API RESTful.</li>
    <li><strong>Bases de Datos:</strong> MySQL, PostgreSQL, Firebase.</li>
    <li><strong>Diseño:</strong> Adobe Photoshop, Illustrator, UI/UX.</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
