<h2 mat-dialog-title>Experiencia Profesional</h2>
<mat-dialog-content>
  <p>Aquí puedes agregar información sobre tu experiencia laboral.</p>

  <ul>
    <li><strong>Desarrollador de Software</strong> - 7 años de experiencia en Angular, C#, JavaScript.</li>
    <li><strong>Diseñador Gráfico</strong> - Experiencia en UI/UX y branding.</li>
    <li><strong>Gestión de Servidores</strong> - VPS, cPanel, Linux.</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
