body {
  font-family: "Arial", sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  color: #333;
  /* Color de fondo principal */
  background-color: #4c566a;
  color: #eceff4;
}
.container-fluid {
  background-color: #4c566a;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  background-color: #4c566a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px; /* Bordes redondeados */
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  background: url("/profile.jpg");
  background-size: 100%;
  border-radius: 50%;
  margin-right: 20px;
}

.info {
  flex-grow: 1;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 5px;
  color: #a3be8c; /* Color verde claro para el nombre */
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #88c0d0; /* Color azul claro para el título */
}

h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  border-bottom: 1px solid #616e88; /* Línea separadora más oscura */
  padding-bottom: 5px;
  color: #eceff4; /* Color de título más claro */
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #616e88;
  border-radius: 5px;
  background-color: #434a59; /* Fondo más oscuro para habilidades */
  color: #eceff4;
  margin-bottom: 10px;
  > .mat-badge {
    border: none !important;
    background-color: #7886a3;
    padding: 0;
    width: 15px;
    height: 15px;
    position: relative;
    font-size: 12px;
    text-align: center;
    top: -18px;
    color: WHITE;
    right: -18px;
  }
}

.experience-item,
.project-item {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #616e88;
  border-radius: 5px;
  background-color: #494f5c; /* Fondo un poco más claro para los items */
}

/* Responsive design */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .avatar {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
