<div class="container-fluid">
  <div class="container">
    <div class="header">
      <div class="avatar"></div>
      <div class="info">
        <h1>{{ profileData?.profile.name }}</h1>
        <h2>{{ profileData?.profile.mainSkill }}</h2>
        <p>{{ profileData?.profile.location }}</p>
        <p>
          {{ profileData?.profile.email }} |
          <a [href]="profileData?.profile.linkedin" target="_blank">LinkedIn</a>
        </p>
      </div>
    </div>

    <div class="section">
      <h2 class="section-title">Sobre mí</h2>
      <p>{{ profileData?.profile.about }}</p>
    </div>

    <div class="section">
      <h2 class="section-title">Tecnologías</h2>
      <div class="skill-list">
        <div
          class="skill"
          *ngFor="let tech of profileData?.technologies; let i = index"
        >
          {{ tech }}
          <button class="mat-badge rounded-circle" (click)="deletedElement(i)">
            x
          </button>
        </div>
      </div>
    </div>

    <div class="section">
      <h2 class="section-title">Experiencia</h2>
      <div class="experience-item" *ngFor="let exp of profileData?.experience">
        <h3>
          {{ exp.title }} <small>{{ exp.years }}</small>
        </h3>
        <h4>{{ exp.company }}</h4>
        <p>{{ exp.description }}</p>
      </div>
    </div>

    <div class="section">
      <h2 class="section-title">Proyectos</h2>
      <div class="project-item" *ngFor="let project of profileData?.projects">
        <h3>{{ project.title }}</h3>
        <h4>{{ project.subtitle }}</h4>
        <p>{{ project.description }}</p>
        <div class="skill-list">
          <div class="skill" *ngFor="let tech of project.technologies">
            {{ tech }}
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h2 class="section-title">Educacion</h2>
      <div
        class="project-item"
        *ngFor="let education of profileData?.education"
      >
        <h3>{{ education.institution }}</h3>
        <h4>{{ education.degree }}</h4>
        <div class="skill">
            {{ education.years }}
        </div>
      </div>
    </div>
  </div>
</div>
