<h2 mat-dialog-title>Portafolio</h2>
<mat-dialog-content>
  <p>Aquí puedes ver algunos de mis proyectos destacados:</p>
  <ul>
    <li><a href="https://github.com/sesegomez" target="_blank">GitHub - Sebastián Gómez</a></li>
    <li><a href="https://www.behance.net/sesegomez" target="_blank">Behance - Diseño Gráfico</a></li>
    <li><a href="https://sesegomez.dev" target="_blank">Mi Portafolio Web</a></li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
